<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Church Management</title>
        {% else %}
        <title>Welcome to Church APP</title>
        {% endif %}
    </head>
    <body>
        <div>ChurchAPP: 
            <a href="/index">Home</a>
            <a href="/emailsignup">Sign Up</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>